.disc{
    color: grey;
    padding: 10px;
}
.colss{
    display: flex;
    justify-content: center;
}
.item-row{
    justify-content: center;
}

@media only screen and (max-width: 822px) {
    .cloth-title{
       font-size: 12px;
     }
     .cloth-price{
        font-size: 12px;
        font-weight: 700;
      }
   }