.sht{
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-heading{
  font-size: 90%;
  font-weight: 900;
}
p{
  font-size: 90%;
  text-align: justify;
}
.sht{
  margin-top: 0px;
}
.fht{
  display: flex;
  align-items: center;
}
.rootrow{
  background-color: rgb(45, 49, 105);
}
.img{
  border-radius: 10px;
}
.pinfo{
  color: rgb(65, 65, 38);
}
.API-info{
    color: rgb(92, 103, 114);
    /* text-shadow: 0px 2px 3px rgba(255,255,255,0.5) */
    font-size: 150%;
}  
.infocartimage{
  width : 100%;
}
.saleinfo{
  position: absolute;
  top : 40px;
  left: 50px;
  font-size: 60px;
}
.demoimg{
  padding-top: 5px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}





@media only screen and (max-width: 756px) {
  .rootrow {
      padding-top: 20px;
  }
  .cols{
    padding: 20px;
  }
  .sht{
    margin-top: 20px;
  }
  .API-info{
    color: rgb(163, 171, 179);
    /* text-shadow: 0px 2px 3px rgba(255,255,255,0.5) */
    font-size: 100%;
}  
.saleinfo{
  font-size: 33px;
  color: rgb(228, 241, 245);
}
.demoimg{
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
}